extends layout

block content
    .main-container
        .container
            br
            h1 #{title}
            h3.repayTxt Send money across the country with ease
            p.txt Transfer with just the click of a button...
            p#demo
            br
            
            .row.justify-content-md-center.inputContainer
                .input-group.mb-3.col-md-8.justify-content-md-center
                    //- span.input-group-text.nairaField &#8358;
                    input.form-control.inputAmount#amount(type='number', placeholder='Amount to Send', maxlength="6" aria-label='Amount', aria-describedby='basic-addon2')
                    button.btn.btn-outline-success.amountBtn#amountBtn(type='button', data-toggel="modal",  data-target='#Modal-1', data-whatever='@mdo') Send Money

                #Modal-1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5#exampleModalLabel.modal-title Transfer Details
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            .modal-body
                                form
                                .div#div1
                                    p 
                                .form-group
                                    label.col-form-label(for='sender-email') Senders Email Address:
                                    input#rsender-email.form-control(type='email', name='sender_email' placeholder='Enter your email')
                                .form-group
                                    label.col-form-label(for='recipient-bank') Recipient's Bank:
                                    select#recipient-bank.form-control( name='bank_name')
                                        each bank in banks
                                            option(value=bank.code) #{bank.name}
                                .form-group
                                    label.col-form-label(for='recipient-account') Recipient's Account Number:
                                    input#recipient-account.form-control.inputAccount(type='number', name='account_number', maxlength="10", placeholder="0690000321")
                                    span#error_msg
                                    //- span#success_msg
                                .form-group
                                    label.col-form-label(for='recipient-account-name') Recipient's Account Name:
                                    input#recipient-account-name.form-control.inputAccount(type='acctname', name='account_name', readonly)
                                    
                                .form-group
                                    label.col-form-label(for='description') Description:
                                    input#description.form-control(name='description', placeholder='Short Description')
                                .form-group
                                    label.col-form-label(for='reference') Reference:
                                    input#txRef.form-control(name='reference',)
                            .modal-footer
                                //- button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                                button#btn-continue.btn.btn-success(type='button', href="") Continue
            
