doctype html
html
    head
        title Rave Transfer
        link(rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="./stylesheets/style.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
        
        
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-dark
            .container
                a.navbar-brand(href='/') Transfers
        
        block content
    
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
        script(src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js" type="text/javascript")
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")      
        
        script.
            $(document).ready(function(){
                pubkey = "FLWPUBK-a5715a67d24e61ce3e7bf79ae22ef524-X";
                
                $("#amountBtn").click(function(){
                    var amount = $("#amount").val();
                    if (amount.length === 0){
                        alert("Please Input An Amount");
                    }else{
                        $("#Modal-1").modal();   
                    }
                })

                $("#recipient-account").keyup(function() {
                    var recipient_bank = $("#recipient-bank").val();
                    var recipient_account = $("#recipient-account").val();
                    var accountName = $("#recipient-account-name");
                    

                    if(recipient_account.length === 10){
                        $.ajax({
                            url: 'https://ravesandbox.azurewebsites.net/flwv3-pug/getpaidx/api/resolve_account',
                            type: 'post',
                            data: {
                                recipientaccount: recipient_account,
                                destbankcode: recipient_bank,
                                PBFPubKey: pubkey,
                            },
                            dataType: 'json',
                            success: function (resp) {
                                if(resp.data.data.responsecode == 00) {
                                    console.log(resp);
                                    //- $('#accountName').val(resp.data.data.accountname);
                                    accountName.val(resp["data"]["data"]["accountname"]);
                                    $('#error_msg').text(resp.message);    
                                    $('#recipient-account').addClass('success-msg');
                                    //- $("#continue").attr({"disabled":false});
                                }else if (resp.data.data.responsecode == 'RN0') {
                                    $('#error_msg').text(resp.data.data.responsemessage);
                                    $('#recipient-account').addClass('has-error');
                                } else {
                                    $('#error_msg').text('There is an issue with your bank number. Please cross-check');
                                    $('#recipient-account').addClass('has-error');
                                }
                                //- console.log(resp);
                                //- accountName.val(resp["data"]["data"]["accountname"]);
                            },
                            error: function(err){
                                console.log(err);
                                //- alert(err.toString());
                            }
                        });
                        
                    }
                });
                
                $("#btn-continue").click(function(){

                    var amount = $("#amount").val();
                    var sender_email = $("#rsender-email").val();
                    var recipient_bank = $("#recipient-bank").val();
                    var recipient_account = $("#recipient-account").val();
                    var description = $("#description").val();
                    var reference = $("#txRef").val();
                    //- var transferResp = resp;
                    var errors = false;

                    if(!amount || !sender_email || !recipient_bank || !recipient_account) {
                        errors = true
                    }

                    if(errors){
                    alert('Please complete the form');
                    }else{
                        $("button.close").click()

                        $.ajax({
                            url: 'https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/v2/hosted/pay',
                            type: 'post',
                            data: {
                                customer_email: sender_email,
                                customer_firstname: '',
                                customer_lastname: '',
                                customer_phone: '',
                                amount: amount,
                                country: "NG",
                                currency: "NGN",
                                custom_logo: '',
                                custom_description: description,
                                custom_title: 'Please Enter Card Details',
                                payment_method: "both",
                                txref: reference,
                                redirect_url: "http://localhost:3000/transfer?bankcode=" + recipient_bank + "&accountno=" +  recipient_account + "&amount=" + amount,
                                PBFPubKey: pubkey,
                            },
                            dataType: 'json',
                            success: function (resp) {
                                console.log(resp["data"]["link"]);
                                window.open(resp["data"]["link"], "_blank");
                                
                            },

                            onclose: function() {},
                           
                            error: function(err){
                                console.log(err);
                                //- alert(err.toString());
                            }
                        });
                    }
                });
            });
