li.nav-item {
  list-style-type: none;
}

a.navbar-brand {
  color: #ffffff !important;
}

.singleT  {
  margin-top: 120px;
  padding: 15px 20px;
  background: transparent;
  border-radius: 1px;
}

.bulkT {
  margin-left: 20px;
  margin-top: 120px;
  padding: 15px 20px;
  background: transparent;
  border-radius: 1px;
} 

a.nav-link{
  color: aliceblue;
}

.main-container {
  background: linear-gradient(rgba(25,25,0,0.5), rgba(0,0,25,0.5)), url('../images/adult.jpg');
  height: 90vh;
  width: 100%;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.repayTxt {
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  margin-top: 60px
}

.txt {
  color: #ccc;
  text-align: center;
}

.inputContainer {
  margin-top: 150px;
}

.inputAmount {
  height: 60px !important;
}

.amountBtn {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.nairaField {
  border-radius: 0.25rem 0 0 0.25rem !important;
  border-right: none !important;
  padding: 10px 20px !important;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */ 
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.success-msg{
  color: #00ff67;
  font-size: 11px;
}

.has-error{
  color: #ff0034;
  font-size: 11px;
}

#error_msg {
  font-size: 11px;
}